body {
background-color: rgb(50, 113, 91);
}
header {
color: white;
text-align: center;
}
section {
background-color: white;
border-radius: 10px;
padding: 20px;
width: 500px;
margin: auto;
box-shadow: 5px 3px 20px gray;
}
footer {
color: white;
text-align: center;
font-style: italic;
}

#iadd {
    border: 2px solid black;
    width: 50%;
    
}
.botao {
    color: white;
    background-color:  rgb(84, 194, 156);
    border-radius: 10px;
    border: 2px solid  rgb(36, 82, 66);
}